: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  left: -300px;
  opacity: 0;
  transition: all 1.1s
}

@media (max-width: 1301px) {
  .profile {
    margin-bottom: 10rem;
    left: 0;
    opacity: 1
  }
}

@media (max-width: 1000px) {
  .profile {
    margin-bottom: 7rem
  }
}

.profile__picture {
  height: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center

}

.profile__picture svg {
  transition: all 1.1s
}

.pp {
  margin-top: 1rem;
  position: relative;
  text-align: center;
  z-index: 999;
}

.pp1 {
  position: relative;
  text-align: center;
}

.profi
