html, body {
    margin:0;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    height:100%;
}

div.bg {
  position: relative;
  height:100%;
  background: url(https://i.imgur.com/FyViU1P.png);
  background-repeat: repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.neon {
  color: gold;
  text-shadow:
    0 0 5px gold,
    0 0 10px gold,
    0 0 20px gold,
    0 0 40px gold,
    0 0 80px gold,
    0 0 90px gold,
    0 0 100px gold,
    0 0 150px gold;
}

div.hidden {
	display: none;
}

div.popup {
	display: none;
}

div.bdfilter {
  position:relative;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  backdrop-filter: hue-rotate(0deg);
}

div.flex {
	height: 100vh;
	width: 100vw;
	max-height: 800px;
	max-width: 1280px;
	min-height: 600px;
	min-width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

img.centered {
    position:fixed;
    width:  800px;
    height: 800px;
    left: 50%;
    top:  50%;
    margin-left: -400px; /* 800px/2 = 500px */
    margin-top:  -400px; /* ditto */
}

.card {
height: 379px;
width: 300px;
background: #808080;
border-radius: 10px;
transition: background 0.8s;
overflow: hidden;
box-shadow: 0 70px 63px -60px #000;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.card0 {
background: url("images/metransparent.png") center center no-repeat;
background-size: 600px;
}
.card0:hover {
background: url("images/metransparent.png") left center no-repeat;
background-size: 600px;
}
.card0:hover h2 {
opacity: 1;
}
.card0:hover .fa {
opacity: 1;
}
.card1 {
background: url("images/Tripsitteridk.png") center center no-repeat;
background-size: 300px 390px;
}
.card1:hover {
background: url("images/Tripsitterhue.png") center center no-repeat;
background-size: 300px 390px;
}
.card1:hover h2 {
opacity: 1;
}
.card1:hover .fa {
opacity: 1;
}
.card2 {
background: url("images/Gazebomorphictransparent1.png") center center no-repeat;
background-size: 310px;
}
.card2:hover {
background: url("images/Gazebomorphictransparent1.png") right center no-repeat;
background-size: 310px;
}
.card2:hover h2 {
opacity: 1;
}
.card2:hover .fa {
opacity: 1;
}
h2 {
font-family: 'Nosifer', cursive;
color: #ffd700;
margin: auto;
text-align: center;
opacity: 0;
font-size: 3em;
transition: opacity 1s;
}

.fa {
opacity: 0;
transition: opacity 1s;
}

.items {
position: absolute;
fill: #ffd700;
color: #ffd700;
height: 130px;
top: 226px;
width: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
